@import "../../assets/scss/variables";

div#headerFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorites-search-box {
    background-color: white;
    padding-left: 10px;
    border: none !important
}

.SortButton{
    color: purple;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    color: purple;
    font-weight: bold;
}

.MuiButtonBase-root {
    padding: 20px 30px
}.MuiButton-root {

} .MuiButton-contained {

}
.MuiButton-containedPrimary {

}

button:disabled {
    background: #F5F5F5;
    color : #C3C3C3;
   cursor:none;
    pointer-events: none;
}

.irbfsN {
    background-color: rgba(149,96,168, 0.15);
    color: #9560A8;
}
