@import "../../assets/scss/variables";

div#headerFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-input {
    background-color: white;
}

// .page {
//     background: #E5E5E5;
// }

.box {
    background-color: white;
    padding-left: 10px;
}

.SortButton{
    color: purple;
}

.MuiButtonBase-root {
    padding: 20px 30px
}.MuiButton-root {

} .MuiButton-contained {

}
.MuiButton-containedPrimary {

}