$text-link: #2997ff;
$text-color: #444;

// 2Unstoppable Colors
$primaryPurple: #7F43D5; //#9462a6;
$actionPink: #ed698e;
$mutedPurple: #dfd1e4;
$sidenav: #FCF8FD;
$purpleHover: #af8ae5;

$background: $primaryPurple; //#ffffff; //#f8f9fa;
$border: #ccc;

// Colors for App
$secondary: #c843d5


