$text-link: #2997ff;
$text-color: #444;

// 2Unstoppable Colors
$primaryPurple: rgba(#491a68, 0.95); //#9462a6;
$bg: #F1658C;
$actionPink: #ed698e;
$mutedPurple: #dfd1e4;
$sidenav: #FCF8FD;
$purpleHover: #9f72e0;

$pinkNav: #b929a2;

$background: #ffffff; //#f8f9fa;
$border: #ccc;
$defaultBackground: #F165FD;


// Colors for App
$secondary: #c843d5;

//
$card: rgba(#eacaed, 0.2);


