$text-link: #2997ff;
$text-color: #444;

$background:#f8f9fa;
$border: #ccc;

// 2Unstoppable Colors
$primaryPurple: #9462a6;
$actionPink: #ed698e;
$mutedPurple: #dfd1e4;
$mutedPink: #fad9e3;
$cardsBackground: #f7f4f8;

