@import './_variables';
@import './_navigation';

html body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: $background;
}

.primary-text {
  color: $primaryPurple;
}