@import './_variables';

.border-radius {
  border-radius: 10px;
}

.global-input {
  border-radius: 4px;
  outline: none;
  border: 0;
  padding: 1em;
  padding-left: 1em;
  background-color: rgb(240,240,240);
}

.primary-text {
  color: $primaryPurple;
}

.primary-grey-text {
  color: #9a91a6; 
}

.button-active {
  background: #F1658C;
  color: #FFFFFF;
}

.button-inactive {
  background: #FFE7ED;
  color: #F1658C;
}