.messages-wrapper {
  display: flex;
  .single-message-wrapper {
    // background-color: rgb(225,225,225);
    cursor: pointer;
    margin: 1em 0em;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .single-message-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .single-message-recent {
      margin: 0px 20px;
      .message-subject {
        font-weight: 600;
      }
    }
  }
  .conversation-wrapper {
    margin-left: 3em;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    width: 100%;
  }
  .active-conversation {
    background-color: rgb(225,225,225);;
  }
}