@import "../../assets/scss/variables";

.messages-wrapper {
  display: flex;
  .single-message-wrapper {
    // background-color: rgb(225,225,225);
    cursor: pointer;
    margin: 1em 0em;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .single-message-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .single-message-recent {
      margin: 0px 20px;
      .message-subject {
        font-weight: 600;
      }
    }
  }
  .conversation-wrapper {
    margin-left: 3em;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    width: 100%;
    .conversation-nav-wrapper {
      background-color: rgba($primaryPurple, 0.6);
      padding: 1em;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      .conv-nav-text {
        color: white;
      }
    }
  }
  .active-conversation {
    background-color: rgb(235,235,235);
  }
}