@import "../../assets/scss/variables";


.search-Icon {
  border-radius: 50%;
  background-color: white;
  border-color: inherit;
}

.global-input {
  width: 200;
  background-color: white !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 0px !important;
}

.messages-wrapper {
  display: flex;
  width: 100%;
  .inbox-wrapper {
    // border-right: 1px solid rgb(240,240,240);
    // padding-right: 2em;
  }
  .single-conversation-wrapper {
    // background-color: rgb(225,225,225);
    cursor: pointer;
    // margin: 1em 0em;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 220px;
    .single-conversation-avatar {
      position: relative;
      display: inline-block;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .single-conversation-recent {
      margin: 0px 20px;
      .conversation-subject {
        font-weight: 600;

      }
    }
  }
  .conversation-wrapper {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: white;
  }

  .conversation-nav-wrapper {
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    margin-bottom: 20px;
    .conv-nav-text {
      color: white;
    }
  }
  .purple-nav {
    background-color: rgba($primaryPurple, 0.6);
  }

  .pink-nav {
    background-color: rgba($pinkNav, 0.6);
  }

  .active-conversation {
    background-color: rgba(241, 101, 128, 0.1);
  }
}

.conv-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-avatar-sm {
  width: 50px !important;
  height: 50px !important;
  line-height: 24px;
  border-radius: 50%;
}

.nav-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
  color: #9560A8;
}

.flex-row {
  display: flex;
  .from-me-message {
    background-color: rgba($primaryPurple, 0.6);
    // background-color: #9696ff;
    color: white;
    width: 40%;
  }
  .from-them-message {
    background-color: rgba(184, 186, 189, 0.4);
    // background-color: rgb(150,150,150);
    color: black;
    width: 40%;
  }
  .message-sender-image {
    align-self: flex-end;
    margin-bottom: 6px;
  }
}

.single-message-wrapper {
  border-radius: 24px;
  padding: 12px 20px;
  margin: 6px 8px;
}

.from-me-row {
  justify-content: flex-end;
}

.from-me-row {
  justify-content: flex-end;
}

.search-bar {
  background-color: white;
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}


.status{
  width: 12px;
  height: 12px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 2px;
  background-color: green;

  position: absolute;

}

.bottomRight{
  bottom: 0;
  right: 0;
}


.message-icon {
  font-size: 10px;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 50%;
  border: #FCB852;
  background-color: #FCB852;
  color: white;
}

.conversation-header {
  justify-content: space-between;
  border-bottom: .5mm solid;
  border-bottom-color:rgb(204, 204, 204);
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 40px;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.conversation-header-text {
  margin-left: 10px;
}

.scroll-area {
  padding-left: 15px;
  max-height: 500px;
  overflow-y: scroll;
}

.send-message-bar {
  display: flex;
  align-items: center;
}

.send-button {
  background-color: white;
  border: 0;
}