@import "../../assets/scss/variables";

.editProfile{
    color: #9560A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center
}

.profile-section-header::before {
  font-weight: bold;

}
.profile-section-header{ 
  color: #07122E;
  width: 658px;
  height: 30px;
  left: 632px;
  top: 322px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}
.profile-section-header::after {
  font-weight: bold;
}

.react-css-collapse-transition {
  transition: height 250ms cubic-bezier(.4, 0, .2, 1);
}

.panel-title::before {
  content: "\f107";
  color: #333;
  top: -2px;
  right: 0px;
  position: absolute;
  font-family: "FontAwesome"
}

.panel-title[aria-expanded="true"]::after {
  content: "\f106";
}


.question-title {
    
}


.radioButton {
    color: #F1658C;
}

.userName {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    /* or 183% */
    display: flex;
    align-items: center;
}

.userAge {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

/* Title */
color: #07122E;
}

.workStatus {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    display: flex;
    align-items: center;

    /* Title */
    color: #07122E;
}

.question-wrapper {
    margin: 1em 0em;
    label {
        font-weight: 500;
    }
}

.Answers {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.Checkbox{
    text-align: left;
    font-size: 18px;
    width: 50px;
    margin-top: 12px;
}
.Button{
    margin-top: 15px;
    font-size: 25px;
    background-color: white;
    color: black;
    border: 2px solid violet;
    border-radius: 3px;
}

.submition-row {
    position: fixed;
    z-index: 20 !important;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin-left: -4%;
    margin-right: -4%;
    width: calc(100% - 16em);
    border-top: 1px solid rgb(200,200,200);
}


.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    color: black;
    font-weight: normal;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #8B8B8B;
    background-color: transparent;
  }

  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    border: 2px solid #F1658C;
    background: #F1658C;
  }


  // .checkbox input[type=checkbox] {
  //   display: none;
  // }

  // .checkbox label:before {
  //   border-radius: 3px;
  //   }

  //   .checkbox input[type=checkbox]:checked {
  //       content: "\2713";
  //       text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  //       font-size: 15px;
  //       color:red;
  //       text-align: center;
  //       line-height: 15px;
  //   }
    
    input[type="checkbox"] {
      background-color: pink !important;
    }

    .item {
      background: #f0ebe1;
      margin-bottom: 5px;
      padding: 10px 20px;
    }
    .title {
      color: #07122E;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
    }

    .content {
      color: #8B8B8B;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    }

    .content.show {
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    }

    .submitCancel {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  