.edit-profile-button {
  text-transform: uppercase;
  color: #F1658C;
  background-color: #FFE7ED;
}

.user-section-wrapper {
  display: flex;
  margin-top: 3em;
  width: 100%;
  .user-section-data {
    margin-right: 3em;
    width: 100%;
    flex-grow: 3;
  }
}

.account-settings {
  // position: absolute;
  width: 478px;
  height: 22px;
  left: 838px;
  top: 371px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #07122E;
}

.user-metadata {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 30px !important;
  z-index: 1 !important;
  align-self: flex-start;
  flex-grow: 2;
  // padding: 0.5em;
  border-radius: 5px;
}


.full-profile-icon-row {
  // display: flex;
  // align-items: center;
  margin: 15px 0em;
  width: 100%;
  .field-question-profile {
    color: rgb(34,34,34);
    font-weight: 600;
    font-size: 16px;
    margin: 1em 0em;
    display: flex;
    align-items: center;
  }
  .field-answer-profile {
    font-size: 14px;
    font-weight: 400;
    color: rgb(34,34,34);
  }
}

.profile-section-header-primary {
  /* H4 */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #9560A8;
}

.profile-chip-list {
  display: flex;
  flex-wrap: wrap;
  position: -webkit-sticky;
  .profile-single-chip {
    padding: 0.2em 0.6em;
    margin: 0em .3em 0.3em 0.3em;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
  }
}

.full-profile-das {
  padding: 0.8em;
  background-color: rgb(240,240,240);
  border-radius: 2px;
  // margin: 1em 0em;
  p {
    margin: 0;
  }
}

.readonly-input-field {
  outline: none;
  width: 90%;
  margin: 8px 0;
  padding: 10px 10px;
  border-radius: 6px;
  border-style: solid;
  font-size: 16px;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

.full-profile-icon {
  font-size: 20px !important;
  color: black;
  // margin-top: -0.8em;
  margin-right: 0.8em;
}

.muted-text {
  color: rgb(113, 113,113);
}

.full-profile-location {
  font-size: 20px;
}

.user-section-image {
  height: 150px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  border-radius: 5px;
  margin-bottom: 1em;
}

.photo-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.field-header {
  font-size: 18px !important;
  color: black;
  // margin-top: -0.8em;
  margin-right: 0.8em;
  font-weight: bold;
}

.go-back-home {
  font-size: 14px !important;
  margin-bottom: 3px;
  margin-right: 0.1em;
}

.liked-profile-wrapper {
  display: flex;
  align-items: center;
  // box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border: 1px solid rgb(240, 240, 240);
  padding: 0.3em;
  margin: 1em 0em;
  border-radius: 5px;
  .liked-profile-data {
    margin-left: 1em;
    color: #260F45 !important;
  }
  .liked-profile-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  margin: auto;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #B8BABD; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A9A9A9; 
}