// radio button styling
.user-section-data{
    width: 100%;
    margin-left: 2em;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: black;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #8B8B8B;
  background-color: transparent;
}


.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  border: 2px solid #F1658C;
  background: #F1658C;
}

// checkbox styling
.form-checkbox-item {
  display:inline-block;
  margin: 10px; 
  padding: 5px;
}

.form-checkbox-item input[type='checkbox'] {
  display: none;
}

.form-checkbox-item label {
  color: black;
  font-weight: normal;
}

.form-checkbox-item input[type="checkbox"]:checked + label {
  border-radius: 5px;
  content: " ";
  color: #fff;
  background: #F1658C;
}

// todo: identify where this is used
.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}
.has-error {
  border: 1px solid #f44336;
}
form .error {
  border: 2px solid #e53e3e;
  border-radius: 5px;
}
form .errorText {
  color: #e53e3e;
}

.form-upload-photo {
  .file-input-fake, .file-input-overlay {
    height: 200px;
    width: 60%;
  }
  
  .file-input-fake {
    opacity: 0;
    position: relative;

  }
  
  .file-input-overlay {
    border: 2px dashed #B8BABD;
    border-radius: 6px;
    
    position: absolute;
  
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-family: Montserrat;
    font-weight: 700;

    .file-input-style-row {
      width: 100%;

      margin-bottom: -100px;
    }
    :last-child {
      margin-bottom: 0px;
    }
  }

  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-progress-box {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 650px;
    background-color: white;

    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
  }
}