.user-section-data{
    width: 100%;
    margin-left: 2em;
}

.form-message {
    font-size: 10px;
    padding-top: 2px;
  }
  .form-message.valid {
    color: #4caf50;
  }
  .form-message.invalid {
    color: #f44336;
  }
  
  .has-error {
    border: 1px solid #f44336;
  }
  