@import "../../assets/scss/variables.scss";

.site-navigation {
  background: $primaryPurple;
  opacity: 0.95;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12) !important;
  color: white !important;
  position: sticky;
  top: 0;
}

// .menu-title {
//   height: 100%;
//   background-color: white;
// }

.logo-navbar {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 0.3em;
}

.menu-content-container {
  display: flex;
  align-items: center;
}

.link-wrapper {
  margin: 0em 0.8em;
  color: white !important;
}

.sidenav-wrapper {
  width: 15em;
  border-right: 2px solid rgba(#333, 0.1);
  position: fixed;
  height: 100vh;
  z-index: 0;
  padding-top: 3em;
  .sidebar-title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 16px;
    color: $primaryPurple;
    padding-bottom: 0.5em;
    line-height: 1;
  }
  .sidebar-subtitle {
    padding-left: 16px;
    font-size: 14px;
  }
  .sidenav-link {
    cursor: pointer;
    border-radius: 10px;
    margin: 0.6em 0.2em;
    // background-color: #474747;
    &:hover {
      background: rgba(#6200ee, 0.3);
    }
  }
  .sidenav-link-content {
    color: #474747;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0.7em;
    padding-left: 1.4em;
    &:hover {
      color: #6200ee;
    }
    .sidenav-link-name {
      margin-left: 0.7em;
    }
  }
}

.sidenav-link-content-active {
  color: #6200ee !important;
  background: rgba(#6200ee, 0.3);
  border-radius: 10px;
}

.horizontal-break {
  margin-top: 2em;
  margin-bottom: 2em;
}