@import "../../assets/scss/variables.scss";

.site-navigation {
  background: $primaryPurple;
  opacity: 0.95;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12) !important;
  color: white !important;
  position: sticky;
  top: 0;
}

.logo-navbar {
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
  padding: 20px 15px;
  background-color: white;
  /*border-radius: 10px;*/
  /*padding: 0.8em;*/
  
}

.menu-content-container {
  display: flex;
  align-items: center;
}

.link-wrapper {
  margin: 0em 0.8em;
  color: white !important;
}

.sidenav-wrapper {
  width: 15em;
  position: fixed;
  height: 100vh;
  z-index: 0;
 /* padding-top: 3em; */
 /*background: $defaultBackground;*/
 background-color: #07122E;
  .username-avatar-sidenav {
    margin-top: 2em;
    margin-left: 16px;
    display: flex;
    align-items: center;
  }
  .sidebar-title {
    padding-left: 15px;
    padding-top: 8px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding-bottom: 0.5em;
    line-height: 1;
  }
  .sidebar-subtitle {
    padding-left: 16px;
    font-size: 14px;
    padding-top: 0.5em;
    color: #cfb9ef;
  }
  .sidenav-link {
    cursor: pointer;
    border-radius: 10px;
    margin: 0.6em 0.2em;
    // background-color: #474747;
    &:hover {
      background: rgba(#6200ee, 0.3); 
    }
  }
  .sidenav-link-content {
    color: #efe8fa;
    /*color: #07122E;*/
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0.7em 0.7em;
    width: 10em;
    &:hover {

      /*background-color: $purpleHover;*/
      background-color: #f1658c;

      transition: all .3s ease;
      -moz-transition: all .3s ease; /* Firefox 4 */
      -webkit-transition: all .3s ease; /* Safari and Chrome */
      -o-transition: all .3s ease; /* Opera */
    }
    .sidenav-link-name {
      margin-left: 0.7em;
    }
  }
}

.main-navlink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5em;
}

.sidenav-link-content-active {
  /*background-color: $purpleHover;*/
  background-color: #f1658c;
  border-radius: 10px;
}

.horizontal-break {
  margin-top: 2em;
  margin-bottom: 2em;
}

.topnav-wrapper {
  background: $primaryPurple;
  width: 100%;
  padding: 1em;
  .hamburger-top {
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
  .unstoppable-title-topnav {
    color: white;
    font-weight: 600;
    margin-left: 1em;
  }
}