
<<<<<<< HEAD
.loginBlock {
  text-align: center;
  padding-top: 10%;
  table{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-collapse: separate;
    border-spacing: 0;
  }
  td{
    text-align: center;
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }
    padding: 8px;
  }

  /*******************************/
  /* BORDERS */
  /*******************************/
  
  table tr td {
    border-right: 1px solid #bbb;
    padding: 5px;
    text-align: center;
  }
  table tr:first-child td:first-child{
    border-top: 1px solid #bbb;
  }
  table tr:last-child td:last-child{
    border-bottom: 1px solid #bbb;
  }
  table tr td:first-child {
    border-left: 1px solid #bbb;
  }
  /*******************************/
  /* ROUNDED CORNERS*/
  /*******************************/

  /* top-left border-radius */
  table tr:first-child td:first-child {
    border-top-left-radius: 6px;
  }
  
  /* top-right border-radius */
  table tr:first-child td:last-child {
    border-top-right-radius: 6px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  
=======
.registerMessage {
  margin-top: 10vh;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
}

.input-row {
  margin: 25px 0px;
}

label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  border-radius: 0px;
  padding: 5px 15px;
  background: none;
  border: 1px solid #607d8b;
  cursor: pointer;
}

.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}

.has-error {
  border: 1px solid #f44336;
>>>>>>> 54fa75a6432a7dff5ed359493919cb48a11787f7
}