.notification-item {
    display:flex;
    overflow: hidden;

    padding: 10px;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;    
    box-sizing: border-box;

    .colored-rectangle {
        display: inline-block;
        width: 5px;
        height: 100px;
        margin-left: -10px;
        margin-top: -500px;
        margin-bottom: -500px;
        margin-right: 15px;
      }

    .notification-text {
        display:flex;
        flex-wrap: wrap;
        height: auto;
        padding-left: 20px;
    }

    .notification-header {
        padding: 0px;
        width: 100%;

        font-weight: 650;
        font-family: "Montserrat";
        font-size: 14px;
    }

    .notification-description {
        padding: 0px;
        margin: 0px;
        width: 100%;

        font-weight: 500;
        font-family: "Montserrat";
        font-size: 14px;
    }

    .notification-date {
        padding: 0px;
        margin: 0px;
        width: 100%;

        font-weight: 500;
        font-family: "Montserrat";
        font-size: 14px;
        color: #F1658C;
    }
}