@import '../../assets/scss/variables';

.container{
    margin-left: auto;
    margin-right: auto;
}

.question-flex-container {
    display: flex;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    background-image: url('../../images/new2UCollage.png');
}

.question-container {
    width:85%; 
    height: 90%;
    margin:auto;
}

.question-container button {
    margin: 2em 1.5em; 
    padding: 10px 20px; 
    background: $focusBackground;
    color: $focusText;
    &:enabled {
        background: $actionPink;
        color: $actionText;
    }
}

.form-question-wrapper input[type="radio"] {
    opacity: 0;
    width: 0;

    &:not(:disabled) ~ label {
      cursor: pointer;
    }
    &:disabled ~ label {
      color: hsla(150, 5%, 75%, 1);
      border-color: hsla(150, 5%, 75%, 1);
      box-shadow: none;
      cursor: not-allowed;
    }
  }

.form-question-wrapper label {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    padding: 1em 2em; 
    text-align: center;
    background: $disabledBackground;
    color: $disabledText;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    &:hover {
        background: $focusBackground;
        color: $focusText;
    }
}

.form-question-wrapper input[type="radio"]:checked + label {
    background: $actionPink;
    color: $actionText;
}

.form-container {
    padding: 0em 3em;
    margin-top: 35px;
    text-align: center; 
}

.logo{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 35%;
}
label{
    font-size: medium;
}

.question-header {
    color: #07122E;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}

.question-subheader {
    color: #07122E;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin: 15px 0px;
}

.form-question-wrapper {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    label {
        font-weight: 500;
    }
}