
#root{
    background-image: url('../../images/new2UCollage.png');
    position: fixed;
  }

.container{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 35%;
}
label{
    font-size: medium;
}
