.logo {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.mainBlock {
  width: 80%;
  margin-left: 15%;
  padding-bottom: 30px;
  h1, h2{
    color:  #9781AE;
  }
  p{
    color: gray;
  }
  form .error {
    border: 2px solid #e53e3e;
  }
  form .errorText {
    color: #e53e3e;
  }
  td{
    padding-bottom: 8px;
  }
  input[type=text],input[type=email]{
    border-radius: 5px;
    width: 500px;
    height: 40px;
  }
  
  select{
    padding: 9px;
    border-radius: 5px;
    border: 1px solid darkgray;
  }
  .container{
    padding-bottom: 30px;
    
  }
  .submitButtons{
    padding-left: 15%;
    table{
      width: 300px;
    }
  }
  .buttons{
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    background-color: #9781AE;
    color: white;
    border: 1px solid darkgray;
    font-size : 20px;
  }
} 
