@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0px;
}

#root{
  background-image: url('../../images/new2UCollage.png');
  margin: 0px;
  position: fixed; 
  background-size: cover;
  background-repeat: no-repeat;
}
.forgot{
  margin-top: 60px;
  color: #07122E;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37x;
  text-align: center;
}
.logoImage{
   margin-top: 20px;
   width: 320px;
   height: 70px;
   
   left: 800px;
   top: 297px;
}
.enterInfo{
  margin-top: 20px;
  margin-left: 45px;
  width: 420px;
  height: 105px;
  left: 750px;
  top: 478px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 34px;
  font-size: 20px;
  color: #525151;
  text-align: center;

}

.address{
  margin-top: 40px;
  margin-left: 45px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #07122E;
}

.holder{
color: red;
}

.iconInInputFormat{
  position:absolute;
  margin: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.passwordVisibilityEye{
  position:relative;
  right: 40px;
  font-size: 1.5em;
}

.login-card {
  min-height: 60vh;
}

.logo-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.sign-in-card {
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px 60px;
}

.sign-in-header {
  text-align: center;
  font-weight:bold;
  margin:5px;
}

.no-account-header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.login-buttons {
  width: 100%;
  padding: 10px;  
}

.registerMessage {
  margin-top: 10vh;
}

.input-row {
  margin: 20px 0px 0px 0px;
  
}

.last-input-row{
  margin: 20px 0px 20px 0px;
}

.input-format {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// label {
//   display: block;
//   padding-bottom: 5px;
// }

// input {
//   width: 100%;
//   padding: 5px;
// }

button {
  border-radius: 0px;
  padding: 5px 15px;
  background: none;
  border: 1px solid #607d8b;
  cursor: pointer;
}

.form-message {
  font-size: 10px;
  padding-top: 2px;
}

.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}

.has-error {
  border: 1px solid #f44336 !important;
}
