@import "../../assets/scss/variables";

//View Profile

.SaveButton{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    .header{
        width: 100%;
        text-align: center;
    }
    .avatar{
        border-radius: 100%;
    }
    td{
        width: 35%;
    }
    .editButton{
        background-color: white;
        color: black;
        border: 2px solid violet;
        border-radius: 6px;
    }
    .editButton:hover{
        background-color: violet;
        color: black;
    }
}

.account-settings-field-row {
    display: flex;
    align-items: center;
}

.account-settings-page-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    color: #9560A8;
}

.readonly-input-field {
    outline: none;
    width: 100%;
    padding: 10px 10px;
    border-radius: 3px;
    border-style: solid;
    font-size: 16px;
    font-weight: 500;
    color: rgb(69, 69, 69);
}

.photo-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.paper-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .profile-block {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
    };
    .field-header {
        margin: -20px, 0
    }
}

.edit-settings-button {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.format-children-default {
    margin-left: auto; 
}