@import "../../assets/scss/variables";

// BrowseProfiles

$cardRadius: 10px;
$cardWidth: 300px;
$cardHeight: 240px;

.browse-sticky-nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1em;
  z-index: 3;
  box-shadow: 3px 3px 1px 1px#ededed;
}

.pageHeader {
    color:#9560A8;
    font-weight: bold;
    font-size: 30px;
    font-family: Montserrat;
}

.boldedSubheader {
    font-weight: bold;
    font-size: 16px;
    font-family: Montserrat;
}

.totalUserProfileHeader{
    margin-top: 20px;
    color:#9560A8;
    font-weight: bold;
    font-size: 24px;
    font-family: Montserrat;
}

.browse-filter-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 10px;
  .browse-search {
    height: 40px;
    border-radius: 8px;
    width: 25em;
    margin-right: 1em;
    font-size: 16px;
    background-color: rgb(240,240,240);
    color: black;
    // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    padding: 1em;
    padding-left: 1em;
    &:focus {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      background-color: white;
    }
  }
}

.favorite-profile-icon {
  font-size: 28px;
  color: $primaryPurple;
  cursor: pointer;
  // border: 1px solid $primaryPurple;
  outline: $primaryPurple;
  // margin-bottom: 0.2em;
  border-radius: 50%;
  padding: 0.1em;
  // margin-right: 0.4em;
  position: relative;
  z-index: 10;
}

.message-icon {
  font-size: 28px;
  color: #f0658c;
  cursor: pointer;
  // border: 1px solid $primaryPurple;
  outline: $primaryPurple;
  // margin-bottom: 0.2em;
  border-radius: 50%;
  padding: 0.1em;
  // margin-right: 0.4em;
  position: relative;
  z-index: 10;
}

.profile-icon {
    font-size: 20px;
    color: #69616C;
    cursor: pointer;
    // border: 1px solid $primaryPurple;
    outline: $primaryPurple;
    // margin-bottom: 0.2em;
    border-radius: 50%;
    padding: 0.1em;
    // margin-right: 0.4em;
    position: relative;
    z-index: 10;
    margin-right: 5px;

  }

.profile-browse-grid {
  padding-bottom: 4em;
  display: flex;
  flex-wrap: wrap;
  // overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  &:-webkit-scrollbar {
    display: none;
  }
}

.single-profile-wrapper {
  margin: .5em;
  margin-bottom: 2em;
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  -webkit-transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  // background: $card;
  border-radius: $cardRadius;
  outline: none;
  text-decoration: none;
  // &:hover {
  //   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  // }
  .single-profile-body {
    font-weight: 300;
    padding: 1em 0em 0em 0em;
    border-bottom-left-radius: $cardRadius;
    border-bottom-right-radius: $cardRadius;
    z-index: 0;
    position: relative;
    color: #69616C;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    // background-color: rgba($primaryPurple, 0.06);
    .profile-username {
      font-size: 16px;
      font-weight: bold
    }
    .profile-location {
      color: rgb(113, 113,113);
      font-size: 13px;
      vertical-align: baseline;
    }
    .other-profile-card-data {
      margin-top: 0.1em;
      margin-bottom: 0;
    }
    .other-profile-message-data{
        color:#f0658c;
        font-weight: bold;
        padding-top: 20px;
    }
    .cancer-type-card{
        color:#c294ec;
        font-weight: bold;
        background-color: #f3e8fb;
        border-radius: 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;

    }

    .brain-cancer-type-card{
        color:#629efe;
        font-weight: bold;
        background-color: #e4e7fb;
        border-radius: 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
    }

    .other-cancer-type-card {
        color:#55bc7e;
        font-weight: bold;
        background-color: #e3f4e9;
        border-radius: 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
    }
  }
}

.profile-name-loc {
  width: 170px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.single-profile-image {
  cursor: pointer;
  height: $cardHeight;
  width: $cardWidth;
  border-radius: 8px;
  // border-top-left-radius: $cardRadius;
  // border-top-right-radius: $cardRadius;
}

.age-range-input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(113, 113,113);
  .age-range-input {
    width: 40px;
    outline: none;
    border: 0;
  }
}

.slider-styling {
  color: $primaryPurple !important;
};

.range-slider {
  margin-left: 1em;
}

.lastLoginTime {
    padding-top: 5px;
}

@media only screen and (max-width: 1300px) {
  .single-profile-image {
    height: 180px;
    width: 225px;
  }

  .favorite-profile-icon {
    font-size: 22px;
  }
}

