@import "../../assets/scss/variables";

// BrowseProfiles

.profile-browse-grid {
  display: flex;
  flex-wrap: wrap;
}
.single-profile-wrapper {
  margin: 1em;
  .single-profile-body {
    background-color: white;
    width: 90%;
    padding: 0.5em;
    margin: 0.3em;
    margin-top: -1em;
    border-radius: 10px;
    z-index: 100;
    position: relative;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    p {
      line-height: 1;
    }
  }
}

.single-profile-image {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}