@import "../../assets/scss/variables";

// BrowseProfiles

$cardRadius: 10px;
$cardWidth: 300px;
$cardHeight: 240px;

.accordian-inside {
  display: inline-block;
}

.browse-container {
  overflow: clip;
}

.browse-sticky-nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1em;
  z-index: 3;
  box-shadow: 3px 3px 1px 1px#ededed;
}

.pageHeader {
  color: #9560a8;
  font-weight: bold;
  font-size: 30px;
  font-family: Montserrat;
}

.boldedSubheader {
  font-weight: bold;
  font-size: 16px;
  font-family: Montserrat;
}

.totalUserProfileHeader {
  margin-top: 20px;
  color: #9560a8;
  font-weight: bold;
  font-size: 24px;
  font-family: Montserrat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-widget {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.browse-filter-row {
  display: block;
  // align-items: center;
  // justify-content: flex-start;
  // flex-wrap: wrap;
  border-radius: 10px;
  .browse-search {
    height: 40px;
    border-radius: 8px;
    width: 25em;
    margin-right: 1em;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    color: black;
    // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    padding: 1em;
    padding-left: 1em;
    &:focus {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      background-color: white;
    }
  }
}

.favorite-profile-icon {
  font-size: 28px;
  color: $primaryPurple;
  cursor: pointer;
  // border: 1px solid $primaryPurple;
  outline: $primaryPurple;
  // margin-bottom: 0.2em;
  border-radius: 50%;
  padding: 0.1em;
  // margin-right: 0.4em;
  position: relative;
  z-index: 10;
}

.profile-browse-grid {
  padding-bottom: 4em;
  display: flex;
  flex-wrap: wrap;
  // overflow-y: scroll;
  justify-content: space-between;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &:-webkit-scrollbar {
    display: none;
  }
}

.single-profile-wrapper {
  margin: 0.5em;
  margin-bottom: 2em;
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  // background: $card;
  border-radius: $cardRadius;
  outline: none;
  text-decoration: none;
  // &:hover {
  //   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  // }
  .single-profile-body {
    font-weight: 300;
    padding: 1em 0em 0em 0em;
    border-bottom-left-radius: $cardRadius;
    border-bottom-right-radius: $cardRadius;
    z-index: 0;
    position: relative;
    color: #69616c;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    // background-color: rgba($primaryPurple, 0.06);
    .profile-username {
      font-size: 16px;
    }
    .profile-location {
      color: rgb(113, 113, 113);
      font-size: 13px;
    }
    .other-profile-card-data {
      margin-top: 0.1em;
      margin-bottom: 0;
    }

    .other-profile-message-data {
      color: #f0658c;
      font-weight: bold;
      padding-top: 20px;
    }

    .cancer-type-card {
      color: white;
      font-weight: bold;
      border-radius: 5px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
    }

    .brain-cancer-type-card {
      background-color: #525151;
    }

    .breast-cancer-type-card {
      background-color: #eb5757;
    }

    .bladder-cancer-type-card {
      background-color: #5282fc;
    }

    .bone-cancer-type-card {
      background-color: #fcb852;
    }

    .other-cancer-type-card {
      background-color: #9560a8;
    }

    .thyroid-cancer-type-card {
      background-color: #4cb6d8;
    }

    .cervical-cancer-type-card {
      background-color: #4cb6d8;
    }

    .colorectal-cancer-type-card {
      background-color: #5282fc;
    }

    .esophageal-cancer-type-card {
      background-color: #9560a8;
    }

    .gall-bladder-cancer-type-card {
      background-color: #9560a8;
    }

    .gastric-cancer-type-card {
      background-color: #9560a8;
    }

    .head-and-neck-cancer-type-card {
      background-color: #902929;
    }

    .kidney-cancer-type-card {
      background-color: #ff8947;
    }

    .leukemia-cancer-type-card {
      background-color: #ff8947;
    }

    .liver-cancer-type-card {
      background-color: #00a651;
    }

    .lung-cancer-type-card {
      background-color: #525151;
    }

    .melanoma-cancer-type-card {
      background-color: #1f1f1f;
    }

    .multiple-myeloma-cancer-type-card {
      background-color: #902929;
    }

    .ovarian-cancer-type-card {
      background-color: #4cb6db;
    }

    .pancreatic-cancer-type-card {
      background-color: #9560a8;
    }

    .ovarian-cancer-type-card {
      background-color: #fcb852;
    }
  }
}

.profile-name-loc {
  width: 170px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.single-profile-image {
  cursor: pointer;
  height: $cardHeight;
  width: $cardWidth;
  border-radius: 8px;
  // border-top-left-radius: $cardRadius;
  // border-top-right-radius: $cardRadius;
}

.age-range-input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(113, 113, 113);
  .age-range-input {
    width: 40px;
    outline: none;
    border: 0;
  }
}

.slider-styling {
  color: $primaryPurple !important;
}

.range-slider {
  margin-left: 40px;
}

.lastLoginTime {
  padding-top: 5px;
}

@media only screen and (max-width: 1300px) {
  .single-profile-image {
    height: 180px;
    width: 225px;
  }

  .favorite-profile-icon {
    font-size: 22px;
  }
}

.no-border-accordian {
  border-style: none;
}

.MuiAccordionSummary-root {
  padding: 0px !important;
}

.button-active {
  width: 212px;
}

.button-reset {
  width: 212px;
}

.freeTextSearch {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: -webkit-fill-available;
}

.browse-search-box {
  margin-left: 12px;
  margin-right: 12px;
  background-color: white;
  padding-left: 10px;
  border: 1.5px solid #d2d2d2;
  box-sizing: border-box;
  border-radius: 6px;
}

.filter-label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.form-group-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiAccordionDetails-root{
  padding: 0px !important
}
