.default-layout-main {
  margin: 1em 1em 1em 16em;
  padding-left: 3%;
  padding-right: 3%;
  // max-width: 1200px;
  height: 97vh;
  display: flex;
  background-color: white;
  justify-content: center;
  border-radius: 10px !important;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  &:-webkit-scrollbar {
    display: none;
  }
  .format-children-default {
    margin-top: 3em;
  }
}

.default-main-view {
  display: flex;
}

@media only screen and (max-width: 1100px) {
  .default-layout-main {
    margin-left: 3%;
    margin-right: 3%;
  }
}