@import "../assets/scss/variables.scss";

.default-layout-main {
  // max-width: 1200px;
  display: flex;
  background: #E5E5E5;
  justify-content: flex-start;
  width: 100%;
  .format-children-default {
    margin-left: 14em;
    padding-left: 2%; // was 3%
    padding-right: 2%; // was 3%
    margin-top: 1em;
    // overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
  }
}

.default-main-view {
  display: flex;
  background: white;
}

.topnav-wrapper {
  visibility: hidden;
  display: none;
}

.ant-avatar-sm {
  width: 50px;
  height: 50px;
  line-height: 24px;
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .default-layout-main {
    flex-direction: column;
    .format-children-default {
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
    }
  }

  .sidenav-position {
    visibility: hidden;
    display: none;
  }

  .topnav-wrapper {
    visibility: visible;
    display: flex;
  }
}